.icone-cima{
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
}

button:disabled {
    cursor: not-allowed;
    background: #555b69;
  }


.iframeprojetos {
    width: 100%;
    height: 800px;
}